<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="E:\\log.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name= "Main" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name= "DaoImpl" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.stat" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.SQL_SLOW" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.hibernate.cache" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>